@media screen and (min-width: 800px)
              and (max-width: 1050px)
<<<<<<< HEAD
=======
              and (min-height: 700px)
>>>>>>> f04de57b8a41c5c752e9f7409c865ff6fb184a31
{
  body
  {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px)
<<<<<<< HEAD
=======
              and (min-height: 700px)
>>>>>>> f04de57b8a41c5c752e9f7409c865ff6fb184a31
{
  body
  {
    font-size: 9px;
  }

  header
  {
<<<<<<< HEAD
    height: 1.1%;
=======
    height: 1.2%;
>>>>>>> f04de57b8a41c5c752e9f7409c865ff6fb184a31
  }
}

@media screen and (min-width: 425px)
              and (max-width: 570px)
<<<<<<< HEAD
=======
              and (min-height: 400px)
>>>>>>> f04de57b8a41c5c752e9f7409c865ff6fb184a31
{
  body
  {
    font-size: 6px;
  }

}

@media screen and (max-width: 425px)
<<<<<<< HEAD
=======
              and (min-height: 200px)
>>>>>>> f04de57b8a41c5c752e9f7409c865ff6fb184a31
{
  body
  {
    font-size: 4px;
  }
  header
  {
    height: 0.9%;
  }

}

@media screen and (max-width: 360px)
              and (min-height: 200px)
{
  body
  {
    font-size: 4px;
  }
  header
  {
    height: 0.65%;
  }

}
