*
{
  box-sizing: border-box;
}

html, body
{
  margin: 0px;
  padding: 0px;
}

a, a:visited, a:active
{
  color: inherit;
  text-decoration: none;
}

:root
{
  --mainColor: #9b0025;
}

body
{
  width: 100%;
  height: 3461px;
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
}

h1
{
  color: #9b0025;
  font-size: 1.6em;
}

h2
{
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, p
{
  margin-top: 0px;
}

ul
{
  padding: 0px;
  margin: 0px;
}

header
{
  width: 100%;
  height: 2%;
}

.limitation
{
  width: 85%;
  height: 100%;
  margin: 0px auto;
}

header > .limitation
{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

header > .limitation > div
{
  margin: auto 0px;
}

#logoImg
{
  width: 18.5%;
  height: 95%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/logo.png");
  margin-right: 2%;
}

header nav
{
  flex: 1 1 auto;
}

.flex-row
{
  display: flex;
  flex-flow: row nowrap;
}

header nav ul
{
  list-style-type: none;
  height: 100%;
}

header nav ul a
{
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  transform: skew(-15deg);
  padding: 0px 3%;
}

header nav ul a:last-child
{
  border-right: 2px solid #eeeeee;
}

header nav ul a:hover
{
  color: white;
  background-color: var(--mainColor);
  border-width: 0px;
  height: 120%;
}


header nav ul li
{
  transform: skew(15deg);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9em;
}

#headerContactsInfo h4
{
  margin-bottom: 4%;
  text-align: right;
}

#headerMarker span
{
  font-size: 0.84em;
}

#headerMarker img
{
  width: 10%;
  height: 30%;
}

#headerMarker
{
  display: flex;
  align-items: center;
}
